.Titre1 {color:purple; text-align:center; background : yellow; background-size: contain;}

.Titre2 {color:blue; text-align:center;}

.gauche{float:left;width:10%;}

.droite{width:60%;overflow:auto;}

.photo{position: absolute; top: 20px; left:8px;}

.CG {float:left;width:30%;}

.CD {width:60%;overflow:auto;}

.langues{float:left;width:50%;}

.hobbys{float:left;width:60%;}

.logo_Sogetrel{ position: absolute; top: 1150px; left:400px;}

.logo_UL{ position: absolute; top: 1420px; left:400px;}

.logo_UL1{ position: absolute; top: 570px; left:280px;}
